<ion-view title="Item Selecionado">
	<ion-content>
		<div class="card">
		  <div class="item item-divider">
		    {{itemSelecionado.nome}}
		  </div>
		  <div class="item item-text-wrap">
		    {{itemSelecionado.detalhe.descricao}}
		    <ul class="list">
			  <li class="item item-toggle" ng-repeat="opcao in listaDeOpcoes">
			     {{opcao.nome}} - {{opcao.valor | currency: 'R$ '}}
			     <label class="toggle toggle-assertive">
			       <input type="checkbox" ng-model="marcado" ng-click="marcar(opcao, marcado)">
			       <div class="track">
			         <div class="handle"></div>
			       </div>
			     </label>
			  </li>
			</ul>
		  </div>
		  <div class="item item-divider">
		  	{{itemSelecionado.valor | currency: 'R$ '}}
		  </div>
		</div>
		<a class="button button-full button-assertive icon ion-ios-redo" href="#/finalizar/{{itemSelecionado}}">
		  Avançar
		</a>
	</ion-content>
</ion-view>